image:
  repository: ghcr.io/immxmmi/quay-provisioner
  tag: "latest"

serviceAccount:
  name: quay-provisioner

secrets:
  name: quay-config

  apiHost: "127.0.0.1"
  apiPort: "9080"
  apiBasePath: "/api/v1"
  apiAuthType: "bearer"
  apiToken: ""

  # Falls ein externes Secret genutzt wird (ESO etc.)
  existingSecret: ""

pipelines:
  configMapName: quay-provisioner-pipelines
  mountPath: /app/pipelines

settings:
  disableTlsVerify: false

caBundle:
  enabled: false
  configMapName: custom-ca-bundle
  mountPath: /etc/ssl/certs/custom-ca.pem
  envVar: CA_BUNDLE