image:
  repository: ghcr.io/immxmmi/quay-provisioner
  tag: "latest"

serviceAccount:
  name: quay-provisioner

secrets:
  name: quay-config

  apiBaseUrl: ""
  apiToken: ""

  # (ESO usw.)
  existingSecret: ""   # z.B. "quay-config-external"

pipelines:
  configMapName: quay-provisioner-pipelines
  mountPath: /app/pipelines
